/* CSS Document */
p{
	font-family:"微软雅黑";
	height:70px;
	line-height:70px;
	padding:0;
	margin:0;
}
.one{
	font-size:50px;
	letter-spacing:0;
	height:50px;
	line-height:50px;
	font-family:"Agency FB", "方正舒体";
	
}
.two{
	font-size:50px;
	padding:0;
	margin:0;
	
}
.three{
	font-size:36px;
}
.four{
	width:500px;
	height:30px;
	line-height:30px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.five{
	font-size:50px;
	height:50px;
	line-height:50px;
}
.one .a{
	color:#666;
}
.one .b{
	color:#396;
}
.two .a{
	font-size:36px;
	color:#666;
	font-style: italic;
}
.two .b{
	color:#000;
	font-size:50px;
}
.five .a{
	color:#666;
	height:50px;
	line-height:50px;
	font-size:50px;
}
.five .b{
	color:#C39;
	font-size:36px;
}
.three strong{
	color:#C39;
}